[Desktop Entry]
Type=Application
Name=3F
Terminal=false
Exec=bash -c 'cd $(dirname %k) && ./more/1.SIM.sh'
Icon=/home/ubuntu/Documenti/git/femm33/SPM/more/3F.png